<div class = "accountCategories" *ngIf = "accountCategories.length > 0">
    <mat-label>Add Account</mat-label>
    <mat-select (selectionChange)="addAccount($event.value)">
        <mat-option *ngFor="let category of accountCategories"  [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>

      <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput  [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
</div>




<div *ngFor = "let id of portfolio.accountId">
<app-account [accountId] = "id" [month] = "portfolio.month" [year] = "portfolio.year" (lendTransactions) = "inLendTransactions($event)"></app-account>
</div>


<!-- <app-account [accountId] = "1" (lendTransactions) = "inLendTransactions($event)"></app-account>
<app-account [accountId] = "2" (lendTransactions) = "inLendTransactions($event)"></app-account> -->

<span><button type = "button" mat-raised-button color="primary" (click)="savePortfolio()">Save Portfolio</button></span>
<!-- <span><button type = "button" mat-raised-button color="primary" (click)="deletePortfolio()">Delete Portfolio</button></span> -->
<div *ngFor = "let sideAccount of sideAccountDTO">
    <app-side-account [sideAccountDTO] = "sideAccount" (newSideAccountId) = "newSideAccountId($event)"></app-side-account>
</div>