.account-container{
    width: 100%;
}

.containerBox{
    background: bisque;
    max-height: 500px;
    overflow-y: auto;
}
.transaction-row{
    padding: 2%;
    font-size: 18px;
}
.transaction-amount{
    float: right;
    padding: 5px;
}
.actionIcon{
    float: right;
}
.debit{
    background: #ffadad;
}
.credit{
    background: #caffbf;
}
.balance{
    padding: 4%;
    font-size: 25px;
    position: sticky;
    bottom: 0;
}
i{
    padding: 5px;
}
.account{
    width: 400px;
    padding: 1%;
}
header{
    overflow: hidden;
}
header>span>button{
    float: right;
    margin-bottom: 10px;
}

header>span>i{
    float: right;
}

table {
    width: 100%;
  }

  .chartStyling{
      margin-top: 10%;
  }