<div class = "row account-container">

  <div class = "col-4 account">
    <mat-card>
      <header>
        <span>ICICI Account</span>
        <mat-slide-toggle [checked]= "showChart" (change) = "showChart = !showChart">Show Pie Chart</mat-slide-toggle>
        
        <span><button type = "button" mat-raised-button color="primary" (click)="openDialog()">Add</button></span>
        <span style="font-size: 35px;"><i class="bi bi-file-earmark-arrow-up-fill" (click)="file.click()"></i><input type="file" style="display: none;" #file (change)="onFileChange($event)" multiple="false" /></span>
      </header>
    <div class = "containerBox">
        <div *ngFor = "let tr of transactions;let index = index" class = "transaction-row" [ngClass]="tr.amount > 0 ? 'credit' : 'debit'">
            <div (mouseover)="rowIndex = index" (mouseleave)="rowIndex = -1">
              <i [ngClass] = "categoryIcons[tr.category]" style="padding: 5px;"></i>
                <span class = "transaction-desc">{{tr.desc}} &nbsp;&nbsp;&nbsp;</span> 
                <span class = "transaction-desc">{{tr.date | date }}</span>
                <span *ngIf="rowIndex == index" class = "actionIcon" style="cursor: pointer;">
                  <i class="fas fa-edit" (click)="editDialog(tr)"></i>
                  <i class="bi bi-trash-fill" (click)="deleteSingleTransaction(tr._id || '')"></i>
                </span>
                <span class = "transaction-amount">{{tr.amount}}</span>
            </div>
            
        </div>
        <div class = "balance" [ngClass]="balance > 0 ? 'credit' : 'debit'">
          <div style="font-size: 12px;">LAST BALANCE + INCOME - EXPENSES </div>
          <div style="font-size: 12px;">{{lastBalance}} + {{income}} - {{expenses}}</div>
        <div >BALANCE <span style="float: right;">{{balance}}</span></div>
        </div>
    </div>
    </mat-card>
</div>
<div *ngIf = "showChart" class = "col-4 incomeChart chartStyling">
  <app-pie-chart [pieChartData] = "pieChartDataIn" [pieChartLabels] = "pieChartLabelsIn"></app-pie-chart>
</div>

<div *ngIf = "showChart" class = "col-4 expenditureChart chartStyling">
  <app-pie-chart [pieChartData] = "pieChartDataEx" [pieChartLabels] = "pieChartLabelsEx"></app-pie-chart>
</div>

</div>

<div *ngIf = "isErrorLog">
    <span><button type = "button" mat-raised-button color="primary" (click)="openDialog()">Add</button></span>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
    
          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
          </ng-container>
    
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
    
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
    
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
    
          <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
          </ng-container>
    
          <ng-container matColumnDef="amountExclusion">
            <th mat-header-cell *matHeaderCellDef> Amount Exclusion </th>
            <td mat-cell *matCellDef="let element"> {{element.amountExclusion}} </td>
          </ng-container>
    
          <ng-container matColumnDef="accountId">
            <th mat-header-cell *matHeaderCellDef> Account ID </th>
            <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
