<div class = "account">
    <header>
        <span>ICICI Account</span>
        <span><button type = "button" mat-raised-button color="primary" (click)="openDialog()">Add</button></span>
        <span><input type="file" (change)="onFileChange($event)" multiple="false" /></span>
    </header>
    <div class = "containerBox">
        <div *ngFor = "let tr of transactions" class = "transaction-row" [ngClass]="tr.amount > 0 ? 'credit' : 'debit'">
            <div >
                <span class = "transaction-desc">{{tr.desc}}</span>
                <span class = "transaction-amount" style="cursor: pointer;"><mat-icon (click)="deleteSingleTransaction(tr._id || '')">delete</mat-icon></span>
                <span class = "transaction-amount">{{tr.amount}}</span>
            </div>
        </div>
        <div class = "balance" [ngClass]="balance > 0 ? 'credit' : 'debit'">BALANCE <span style="float: right;">{{balance}}</span></div>
    </div>
</div>
<div *ngIf = "isErrorLog">
    <span><button type = "button" mat-raised-button color="primary" (click)="openDialog()">Add</button></span>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
    
          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
          </ng-container>
    
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
    
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
    
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
    
          <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
          </ng-container>
    
          <ng-container matColumnDef="amountExclusion">
            <th mat-header-cell *matHeaderCellDef> Amount Exclusion </th>
            <td mat-cell *matCellDef="let element"> {{element.amountExclusion}} </td>
          </ng-container>
    
          <ng-container matColumnDef="accountId">
            <th mat-header-cell *matHeaderCellDef> Account ID </th>
            <td mat-cell *matCellDef="let element"> {{element.accountId}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div>
  <app-pie-chart></app-pie-chart>
</div>